<div class="dialogueBox" [style.height]="State.DialogueWindowHeight + 'px'" [style.width]="State.DialogueWindowWidth +'px'" DialogueWindow [guid]="dialogue_entry" [dialogue_entry]="dialogue">
  <div class="row" >
    <div DraggableSelector class="col-md-12 windowBar">
      Handle
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <select [(ngModel)]="dialogue.Speaker" class="custom-select" id="inputGroupSelect01" style="width: 100%" >
          <option selected>Choose...</option>
          <option value="Please Select">Please Select</option>
          <option value="NPC">NPC</option>
          <option value="Player">Player</option>
        </select>
      </div>


  </div>
  <div class="row" >
    <div class="col-md-12">
      <textarea
        class="dialogueBox_Input"
        [(ngModel)]="dialogue.Value"></textarea>
    </div>
  </div>
  <div class="row" style="position: relative; bottom: 0px">
    <div class="col-md-4">
      <button type="button" [disabled]="selectedRecord != null && selectedRecord.UniqueId != dialogue.UniqueId"  class="btn btn-primary dialogueBox_Btn" (click)="AddNewChild()">+</button>
    </div>
    <div class="col-md-4">
      <button *ngIf="selectedRecord == null" type="button" (click)="Select()" [disabled]=" selectedRecord != null && selectedRecord.UniqueId == dialogue_entry" class="btn btn-secondary dialogueBox_Btn">Select</button>
      <button *ngIf=" selectedRecord != null && selectedRecord.UniqueId != dialogue.UniqueId  && !selectedRecord.HasConnection(dialogue.UniqueId)" type="button" (click)="Connect()" class="btn btn-secondary dialogueBox_Btn">Connect</button>
      <button *ngIf="selectedRecord != null && selectedRecord.UniqueId != dialogue.UniqueId  && selectedRecord.HasConnection(dialogue.UniqueId)" type="button" (click)="RemoveConnection()" class="btn btn-secondary dialogueBox_Btn">Disconnect</button>
      <button *ngIf="selectedRecord != null && selectedRecord.UniqueId == dialogue.UniqueId" type="button" (click)="Deselect()" class="btn btn-secondary dialogueBox_Btn">Deselect</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-danger dialogueBox_Btn" (click)="Remove()" >-</button>
    </div>
  </div>
</div>
